doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Planes de Ahorro
    link(rel="stylesheet", href="/stylesheets/modal.css")
    link(rel="stylesheet", href="/stylesheets/planes.css")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body
    header
      nav
        img(src="images/logo.png", alt="Logo", class="logo")
        ul
          li: a(href="/home") Inicio
          li: a(href="#") Planes de Ahorro
        .language
          span Español (Latinoamerica)
          #userInfo
            i(class="fas fa-user-circle", style="cursor:pointer", id)
          i(class="fas as fa-sign-out-alt", style="cursor:pointer", onclick="window.location.href='/'")
    main
      br
      h2 Estructura de Planes de Ahorro
      hr
      br
      .plans
        .plan
          img(src="https://i.ibb.co/hYZcQBG/image-10.png", alt="Basico")
          div Basico
        .plan
          img(src="https://i.ibb.co/b109BsH/image-11.png", alt="Emergencias")
          div Emergencias
        .plan
          img(src="https://i.ibb.co/TtQdXZq/image-12.png", alt="Educacion")
          div Educacion
        .plan
          img(src="https://i.ibb.co/0MZWT27/image-13.png", alt="Jubilacion")
          div Jubilacion
        .plan
          img(src="https://i.ibb.co/4N4rLrn/image-14.png", alt="Deuda")
          div Deuda
        .plan
          img(src="https://i.ibb.co/Gt2CD3T/image-15.png", alt="Inversiones")
          div Inversiones
    .modal#userDetailsModal
      .modal-content
        span.close-button &times;
        h2 Perfil
        p Nombre: Ángel Alfredo Duron Quieoz
        p Email: angel_freddy@yahoo.com

script.
  document.addEventListener('DOMContentLoaded', (event) => {
    // User Details Modal
    const userModal = document.getElementById('userDetailsModal');
    const openUserModalButton = document.getElementById('userInfo');
    const userCloseButton = userModal.querySelector('.close-button');

    openUserModalButton.onclick = function() {
      userModal.style.display = "block";
    }

    userCloseButton.onclick = function() {
      userModal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == userModal) {
        userModal.style.display = "none";
      }
    }
  });